acmart.cls
acmart.pdf
acmguide.pdf
sample-*.pdf
paper.pdf
paper-2x1.pdf
*.tex-dep
*.aux-dep
paper.synctex.gz
*.log
*.aux
*.auxlock
*.aux-old
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.zip
*.rpi
*.stamp
*~
*.backup
*.kilepr
csv
Thumbs.db*
HscdTeXRes/
plots/*
plots/*.pdf
